a {
  color: #2B2A29;
}
a:hover {
  color: #DF252A;
}
.sign {
  min-height: auto;
}
.bg-light2 {
  background-color: #edeef0 !important;
}
.w-10 {
  width: 10% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
.w-50 {
  width: 50% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.fs-8 {
  font-size: 8px !important;
}
.fs-9 {
  font-size: 9px !important;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-17 {
  font-size: 17px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-19 {
  font-size: 19px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-21 {
  font-size: 21px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-23 {
  font-size: 23px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-25 {
  font-size: 25px !important;
}
.fs-26 {
  font-size: 26px !important;
}
.fs-27 {
  font-size: 27px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-29 {
  font-size: 29px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.fs-31 {
  font-size: 31px !important;
}
.fs-32 {
  font-size: 32px !important;
}
.fs-33 {
  font-size: 33px !important;
}
.fs-34 {
  font-size: 34px !important;
}
.fs-35 {
  font-size: 35px !important;
}
.fs-36 {
  font-size: 36px !important;
}
.fs-37 {
  font-size: 37px !important;
}
.fs-38 {
  font-size: 38px !important;
}
.fs-39 {
  font-size: 39px !important;
}
.fs-40 {
  font-size: 40px !important;
}
.fs-41 {
  font-size: 41px !important;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.radius-5 {
  border-radius: 5px;
}
.radius-10 {
  border-radius: 10px;
}
.radius-15 {
  border-radius: 15px;
}
.radius-50 {
  border-radius: 50px;
}
.card--video__slider .owl-item {
  height: 419px !important;
}
.explore .slider-controls > a {
  background: #fff !important;
}
.explore .slider-controls > a:hover {
  background: #df252a !important;
}
.course-text li span {
  color: #312c2c;
}
.cp-breadcrumb {
  background: transparent;
  float: left;
  width: 100%;
  padding: 0;
  padding-bottom: 0px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 25px;
  display: inline;
}
.cp-breadcrumb li {
  color: #757575;
  display: inline;
}
.cp-breadcrumb li a {
  color: #df252a;
}
.cp-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: ">";
}
.img-rp-header {
  background-image: url("../assets/images/guaranteed.webp") !important;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 325px;
}
/** header banner **/
.header--box {
  background: #2B2A29;
  border-radius: 12px;
  padding: 67px 0 67px 0;
  overflow: hidden;
}
.white-badge-header {
  background: #fff;
  padding: 28px 22px 28px 47px;
  border-radius: 0 9px 9px 0px;
}
.main-title {
  font-size: 29px;
  line-height: 41px;
  font-weight: 600;
}
.sub-title {
  font-size: 26px;
}
.tp--img {
  position: absolute;
  left: -195px;
  top: 62px;
}
.amount-text {
  font-size: 25px;
  color: #fff;
}
.cp-course-logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.course--list {
  background: #fff;
  position: relative;
  top: -76px;
  margin: 0 68px;
  padding: 16px 26px;
  border-radius: 14px;
}
.title-two {
  font-size: 30px;
  font-weight: 600;
}
.title-two span {
  font-size: 16px;
}
.logo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.75rem;
  margin-left: 1rem;
  margin-top: 3rem;
}
.exam-logo {
  background: rgba(255, 255, 255, 0.80);
  padding: 17px 22px;
  width: 127px;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.mb-7 {
  margin-bottom: 3rem !important;
}
/** header banner **/
.ex-icon {
  background: #F4F4F4;
  width: 72px;
  height: 72px;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cp-ex--logo {
  display: flex;
  flex-direction: column;
  max-width: 83px;
  justify-content: center;
  align-items: center;
}
.cp-ex--logo a {
  text-align: center;
}
.in-test-class .what--list__image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgba(179, 179, 178, .15);
}
.what--list__image i {
  font-size: 29px;
  color: #DF252A;
}
/** student image collage **/
.student-collage {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: row;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.student-collage {
  display: grid;
  grid-gap: .625rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: flex-end;
  min-width: 50%;
}
.img-cloud__img-box {
  border-radius: 8px;
  border: 2px solid rgba(255, 200, 87, .1);
  position: relative;
  min-width: 46px;
  min-height: 46px;
}
.img-cloud__img-box--lg-1 {
  grid-column: 2/span 2;
  grid-row: 1/span 2;
  min-height: 98px !important;
  min-width: 98px !important;
}
.img-cloud__img-box--lg-2 {
  grid-column: 5/span 2;
  grid-row: 2/span 2;
  min-height: 98px !important;
  min-width: 98px !important;
}
.live-meet-logo {
  width: 12% !important;
  margin-bottom: 10px;
}
.img-cloud__img-box--lg-3 {
  grid-column: 1/span 2;
  grid-row: 3/span 2;
  min-height: 98px !important;
  min-width: 98px !important;
}
.img-cloud__img-box--lg-4 {
  grid-column: 3/span 2;
  grid-row: 4/span 2;
  min-height: 98px;
  min-width: 98px;
}
.img-cloud__img-box img {
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
  position: relative;
}
.img-cloud__content {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%) scale(0);
  border-radius: 9px;
  border: 2px solid #df252a;
  background: #fff;
  text-align: center;
  padding: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 100%;
}
.img-cloud__img-box:hover .img-cloud__content {
  transform: translate(-50%, 50%) scale(1);
  transition: all .2s cubic-bezier(.165, .84, .44, 1);
  z-index: 100;
}
.img-cloud__img-box:hover {
  border-color: #fff;
}
.img-cloud__content {
  font-size: .75rem;
  color: #000;
}
.img-cloud__content h2 {
  font-size: 18px;
  margin-bottom: 0px;
  color: #df252a;
}
.img-cloud__content h3 {
  font-size: 12px;
  margin-bottom: 0px;
}
.best-band-container {
  background: rgba(255, 255, 255, 0.10);
  padding: 25px;
  border-radius: 38px;
}
.student-slide-thumb button {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.study--material .card--event {
  background: #EAEAEA;
  padding: 29px 20px;
  border-radius: 9px;
}
.TeacherCard {
  position: relative;
  /*  background: #f8f8f8;*/
  border-radius: 24px;
  /*  padding: 20px;*/
  text-align: center;
  /*  margin: 28px 20px 0 0;*/
  transition: .3s ease;
}
.TeacherCard img {
  display: inline-block !important;
  height: 260px;
  width: auto !important;
  margin-top: 3px;
  position: relative;
  top: 8px;
}
.TeacherCard_teacher-slider {
  background: #1a1a19;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 16px;
  padding: 15px;
  text-align: center;
}
.TeacherCard_tag {
  font-weight: 500;
  color: #000;
  background-color: #E5FEFD;
  border-radius: 36px;
  padding: 0;
  width: 118px;
  margin: 0px auto;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 0;
}
.TeacherCard_teacher-slider h3 {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  margin-top: 8px;
}
.TeacherCard_teacher-slider p {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 2px;
}
.TeacherCard_teacher-slider h4 {
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  font-weight: 600;
}
.donline {
  position: absolute;
  top: -154px;
  right: 0;
}
.famebox-row {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}
.thumb-wall-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  left: -4px;
  top: 20px;
}
.wall-decp h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #000;
  margin: 8px 0;
}
.wall-decp p {
  text-align: center;
  font-weight: 600;
  color: #747373;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}
.student-wall-img {
  background-image: url("../assets/images/student/circle-bg.png");
  width: 100px;
  height: 100px;
  content: "";
  background-repeat: no-repeat;
  display: block;
  margin: 0px auto;
}
/** student image collage **/
.cp-book-form {
  background: #F4F4F4;
  padding: 37px 20px;
}
.book-demo .form .custom--input {
  background: rgb(255, 255, 255) !important;
  border: 1px solid rgb(164, 162, 160) !important;
}
.white-form .custom__citys::after {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" style="fill: rgba(193, 193, 185, 1);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm7.931 9h-2.764a14.67 14.67 0 0 0-1.792-6.243A8.013 8.013 0 0 1 19.931 11zM12.53 4.027c1.035 1.364 2.427 3.78 2.627 6.973H9.03c.139-2.596.994-5.028 2.451-6.974.172-.01.344-.026.519-.026.179 0 .354.016.53.027zm-3.842.7C7.704 6.618 7.136 8.762 7.03 11H4.069a8.013 8.013 0 0 1 4.619-6.273zM4.069 13h2.974c.136 2.379.665 4.478 1.556 6.23A8.01 8.01 0 0 1 4.069 13zm7.381 6.973C10.049 18.275 9.222 15.896 9.041 13h6.113c-.208 2.773-1.117 5.196-2.603 6.972-.182.012-.364.028-.551.028-.186 0-.367-.016-.55-.027zm4.011-.772c.955-1.794 1.538-3.901 1.691-6.201h2.778a8.005 8.005 0 0 1-4.469 6.201z"></path></svg>') !important;
}
.white-form .custom--input:active.custom__citys::after, .white-form .custom--input:focus-within.custom__citys::after, .white-form .custom--input:focus.custom__citys::after, .white-form .custom--input:hover.custom__citys::after {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" style="fill: rgba(114, 114, 113, 1);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm7.931 9h-2.764a14.67 14.67 0 0 0-1.792-6.243A8.013 8.013 0 0 1 19.931 11zM12.53 4.027c1.035 1.364 2.427 3.78 2.627 6.973H9.03c.139-2.596.994-5.028 2.451-6.974.172-.01.344-.026.519-.026.179 0 .354.016.53.027zm-3.842.7C7.704 6.618 7.136 8.762 7.03 11H4.069a8.013 8.013 0 0 1 4.619-6.273zM4.069 13h2.974c.136 2.379.665 4.478 1.556 6.23A8.01 8.01 0 0 1 4.069 13zm7.381 6.973C10.049 18.275 9.222 15.896 9.041 13h6.113c-.208 2.773-1.117 5.196-2.603 6.972-.182.012-.364.028-.551.028-.186 0-.367-.016-.55-.027zm4.011-.772c.955-1.794 1.538-3.901 1.691-6.201h2.778a8.005 8.005 0 0 1-4.469 6.201z"></path></svg>') !important;
}
.cp-select {
  min-height: 54px;
  padding: 0 17px;
  color: #727271;
  font-size: 14px;
  border-radius: 7px;
  background: rgb(255, 255, 255) !important;
  border: 1px solid rgb(164, 162, 160) !important;
}
/** Canmaprep css**/
.topper-student {
  position: relative;
}
.topper-student img {
  border-radius: 8px;
  margin: 0px auto;
}
.toper-info {
  background: #fff;
  box-shadow: 0 4px 8px rgba(86, 124, 173, .2);
  border-radius: 12px;
  width: 120px;
  position: absolute;
  top: 57%;
  left: 14%;
  overflow: hidden;
}
.topper-name {
  margin-top: 48px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.topper-course {
  background: #DDDADA;
}
.topper-band {
  text-align: center;
  padding: 5px 6px;
  font-size: 16px;
  font-weight: 600;
}
.top-student .slick-arrow {
  display: none !important;
}
.topper-student {
  text-align: center !important;
}
.topper-img img {
  border-radius: 8px !important;
  margin: 0px auto !important;
}
.topper-course img {
  width: 43% !important;
}
.topper h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.topper .tick--list {
  font-size: 17px;
}
.preptabs .tabs--link.active::before {
  content: '';
  position: absolute;
  height: 4px;
  background-color: #df252a;
  left: 0;
  right: 0;
  bottom: 0;
}
.preptabs .tabs--link.active {
  color: #df252a;
}
.preptabs .tabs--link {
  color: #1a1a19;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  padding-bottom: 12px;
  text-decoration: none;
  position: relative;
}
.preptabs .tabs--item + .tabs--item {
  margin-left: 50px;
}
.masterprep-price-offer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.pricing-card-wrapper {
  /* box-shadow: 0 6px 20px rgba(86, 124, 173, .2);*/
  border-radius: 12px;
  padding-bottom: 12px;
  flex: 33%;
  text-align: center;
  background: #f2f0f0;
}
.bg-warm {
  background: #FFC05E;
}
.pack-header {
  width: 122px;
  margin: 0px auto;
  border-radius: 0 0 6px 6px;
  padding: 3px 0;
  color: #fff;
  background: #df252a !important;
}
.pricing-packname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e9e9e9;
  padding: 15px 20px;
  margin: 0 5px 20px;
  font-size: 20px;
}
.pricing-plan-name {
  font-size: 20px;
  font-weight: 600;
}
.black2 {
  color: #4D4D4D;
  font-size: 17px;
}
.pricing-price, .pricing-total-class {
  font-size: 28px;
  font-weight: 600;
  margin: 4px 0;
}
.pricing-card-wrapper {
  text-align: center;
}
.colorblue.pricing-per-class {
  margin-top: 12px;
  margin-bottom: 23px;
}
.float-hover {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
}
.float-hover:hover {
  transform: translateY(-5px);
}
.preptabs .tabs--item a i {
  font-size: 20px;
  position: relative;
  top: -2px;
}
.tick--container.master-tick li, .camaprep-main .tick--list {
  font-size: 17px;
}
.acing--student {
  margin: 50px 0 !important;
}
.master-tick .tick--list::before {
  top: 4px;
}
.master-tick .tick--list + .tick--list {
  margin-top: 28px;
}
.spacing-padding {
  padding: 100px 0 0 0;
}
.cm--content .tick--list {
  font-size: 15px !important;
  margin-top: 10px !important;
}
.cm--content .arrow {
  margin-top: 26px !important;
}
.comparison-table-wrapper {
  position: relative;
}
.comparison-table {
  border-collapse: separate;
  border-spacing: 0 12px;
}
.lido-comparison-box-shadow {
  box-shadow: 0 4px 30px rgba(86, 124, 173, .15);
}
.lido-comparison-table-subheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}
.table-circle {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 2px solid #ffcecf;
  color: #df252a;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  font-weight: 600;
}
.toobox-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tobox-info {
  width: 315px !important;
}
.tobox-vs {
  width: 799px !important;
  display: grid;
  grid-template-columns: repeat(3, auto 1fr);
  border-radius: 5px;
  overflow: hidden;
}
.tobox-title1 {
  width: 378px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 13px 13px;
}
.book-link p {
  font-size: 18px;
}
.book-link p a {
  text-decoration: underline;
  font-weight: 600;
}
.other-tution {
  width: 378px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 13px 13px;
}
.tobox-info h6 {
  font-size: 18px;
  color: #000;
  margin-bottom: 0px;
  font-weight: 600;
}
.toobox-item.tech-content {
  margin-top: 24px;
}
.tobox-info {
  width: 315px !important;
  display: flex;
  align-items: center;
}
.toobox-item.tech-content .tobox-vs {
  padding: 0px;
}
.tbox-vs-icon {
  display: flex;
  align-items: center;
}
.comparison-table-wrapper {
  position: relative;
}
.comparison-table {
  border-collapse: separate;
  border-spacing: 0 12px;
}
.lido-comparison-box-shadow {
  box-shadow: 0 4px 30px rgba(86, 124, 173, .15);
}
.lido-comparison-table-subheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}
.toobox-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tobox-info {
  width: 315px !important;
}
.tobox-vs {
  width: 799px !important;
  display: grid;
  grid-template-columns: repeat(3, auto 1fr);
  border-radius: 5px;
  overflow: hidden;
}
.tobox-title1 {
  width: 378px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 13px 13px;
}
.book-link p {
  font-size: 18px;
}
.book-link p a {
  text-decoration: underline;
  font-weight: 600;
}
.other-tution {
  width: 378px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 13px 13px;
}
.tobox-title1.bg-light-green {
  background: #f4f4f4;
}
.other-tution.bg-light-red {
  background: #f4f4f4;
}
.load-text {
  display: none;
}
.tobox {
  position: relative;
}
.ld-button {
  background: rgba(255, 255, 255, 0.9);
  width: 100% !important;
  position: absolute;
  bottom: -28px;
  padding: 30px !important;
  float: left;
  display: flex;
  justify-content: center;
}
#loadMore .btn {
  border: 2px solid;
  padding: 9px 57px;
  font-size: 16px;
}
.prep-course .section--title {
  margin-bottom: 35px;
}
.prep-course .guaranteed-tab {
  margin-top: 65px;
}
.navbar .navbar--brand {
  width: 173px;
}
.normal-title {
  font-size: 30px;
  max-width: 636px;
  line-height: 34px;
  margin-bottom: 80px;
}
.study--material .card--event {
  background: #EAEAEA;
  padding: 29px 20px;
  border-radius: 9px;
}
.study--material .card--event h3 {
  color: #2B2A29;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}
.title-three {
  font-size: 26px;
  max-width: 577px;
  line-height: 34px;
  margin-bottom: 80px;
}
.reality-test .what--list__right h3 {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 8px;
}
.dv-approach-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.apc-header {
  display: flex;
  align-items: center;
}
.ap-img {
  margin-right: 15px;
}
.ap-title {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0px;
}
.apc-dsc-info {
  display: flex;
}
.apc-dsc-bd-title {
  font-size: 16px;
  font-weight: 600;
}
.approach-box {
  border: 1px solid #dbdbdb;
  border-radius: 13px;
}
.apc-dsc-img i {
  font-size: 23px;
  margin-right: 16px;
}
.dpv-ctp {
  display: flex;
  margin-bottom: 13px;
}
.dvp-img {
  margin-right: 13px;
}
.nv-box {
  display: flex;
  padding: 9px 4px;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 9px;
}
.pointer {
  width: 89px;
  text-align: center;
  position: relative;
}
.pointer::after {
  content: "";
  width: 2px;
  height: 117px;
  position: absolute;
  border-right: 3px dashed #000;
  right: 44px;
  top: 29px;
  z-index: -1;
}
.pointer.last-point::after {
  border: 0px;
}
.nv-icon {
  border-radius: 100px;
  margin-right: 11px;
  width: 106px;
  display: flex;
  justify-content: center;
  margin-left: 11px;
}
.nc-dcp {
  width: 309px;
}
/** Canmaprep css**/
/** course details **/
.course-text ul {
  list-style: none;
  padding: 0px;
}
.course-text ul li {
  float: left;
  padding-right: 15px;
  border-right: 1px solid #4D4D4D;
  color: #4D4D4D;
  margin-right: 15px;
  font-size: 15px;
}
.cs-dd {
  float: left;
  width: 100%;
}
.course-tag {
  flex: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin: 0 0 1.25rem;
  color: #86a1ae;
  padding: 0;
}
.course-tag li:not(:last-child) {
  margin-right: 1.625rem;
  padding-right: 1.625rem;
  border-right: 1px solid #D9D9D9;
}
.course-tag li:not(:last-child) {
  margin-right: 2rem;
  padding-right: 2rem;
}
.course-tag h3 {
  color: #1B1B1B;
  font-weight: 600;
  font-size: 15px;
}
.course-tag {
  color: #4D4D4D;
  list-style: none;
}
.course-tag {
  white-space: nowrap;
  color: #86a1ae;
}
.green-pass {
  width: 100%;
  float: left;
  display: flex;
}
.celbe {
  display: flex;
  clear: both;
  width: 79%;
  background: #F8F8F8 !important;
}
.bm-smd {
  display: flex;
  align-items: center;
}
.why-prep .why--card {
  padding: 24px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, .1);
  margin-bottom: 0px;
  height: 100%;
}
.detail-mock-box {
  background: #F8F8F8;
}
.detail-mock-box h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.mock-box-title {
  display: flex;
  align-items: baseline;
}
.cr-question {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.qt-list {
  color: #727271;
  padding: 0 0px 0 0;
  font-weight: 500;
}
.qt-list i {
  color: #F67179;
  font-weight: 800;
}
.lock-button {
  display: flex;
  justify-content: end;
  align-items: center;
}
.getting.curriculum .accordion::after {
  left: 30px;
}
.getting.curriculum .accordion {
  position: relative;
  padding-bottom: 19px;
  padding-left: 0px;
}
.getting.curriculum .accordion.active .accordion__heading h3 {
  font-weight: 600;
  color: #df252a;
}
.accordion__heading h3 {
  font-weight: 500;
}
.pill-tab-right .nav-link.active::before {
  opacity: 1;
}
.pill-tab-right .nav-link::before {
  content: '';
  position: absolute;
  width: 4px;
  left: -4px;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition-property: top, bottom;
  transition-duration: 0.3s;
  -webkit-transition-property: top, bottom;
  -webkit-transition-duration: 0.3s;
  transition-delay: 0s;
  transition-delay: .3s;
}
.pill-tab-right {
  border-left: 4px solid rgba(179, 179, 178, .4);
}
.pill-tab-right .nav-link {
  position: relative;
  padding-bottom: 12px;
  padding-left: 0px;
  padding-top: 13px;
  font-size: 17px;
  font-weight: 400 !important;
}
.pill-tab-right .nav-link::after {
  left: 30px;
}
.pill-tab-right .nav-link::after {
  position: absolute;
  content: '';
  left: 0px;
  right: 0;
  bottom: 0;
  width: 384px;
  height: 1px;
  background-color: rgba(43, 42, 41, .1);
}
.pill-tab-right .nav-link.active {
  background: no-repeat;
  color: #df252a;
  font-weight: 600 !important;
}
.pill-tab-right .nav-link.active::before {
  background-color: #2b2a29;
  left: -24px;
}
.vd-detail {
  display: flex;
  align-content: center;
  border-bottom: 1px solid #E1E5EE;
  padding: 12px 0;
}
.vd-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.vd-dscp {
  display: flex;
  align-items: center;
}
.vd-dscp {
  align-items: center;
}
.vd-detail:last-child {
  border-bottom: 0px;
}
.vd-dscp p {
  margin-top: 0px;
}
#div-callme {
  background: #F8F8F8;
  border-radius: 10px;
}
.call-box {
  display: flex;
}
.cunndesp {
  color: #727271;
  font-size: 12px;
}
.assistance__input-holder {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.assistance__input {
  flex: 1;
  position: relative;
  border: 1px solid #86a1ae;
  border-radius: 2px;
  padding-left: 40px;
  margin-bottom: 0;
  overflow: hidden;
}
.assistance__input input {
  width: 100%;
  border: 0px;
  padding-left: 8px;
}
.assistance__input::before {
  content: "+91";
  position: absolute;
  left: 0;
  bottom: 0;
  top: -2px;
  width: 40px;
  line-height: 36px;
  text-align: center;
  padding-right: 5px;
  border-right: 1px solid #86a1ae;
  font-size: 12px;
}
.course-text ul li:last-child {
  border: none !important;
}
/** course details **/
/** IELTS PAGE **/
.exam-header {
  display: flex;
}
.exam-icon {
  width: 20%;
  margin-right: 20px;
}
.exam-text {
  width: 78%;
  display: flex;
  flex-direction: column;
}
.exam-text h1 {
  font-size: 27px;
  line-height: 37px;
  font-weight: 600;
}
.us-tag-icon {
  display: flex;
  border: 1px solid rgba(42, 42, 41, 0.10);
  float: left;
  padding: 4px 20px;
  border-radius: 50px;
  margin-top: 11px;
}
.slidebar {
  background: #F8F8F8;
}
.custom-tick .tick--list {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 21px;
  margin-top: 16px;
}
.blog--sidebar-new {
  background: #F8F8F8;
}
.img-zoom {
  overflow: hidden;
  transition: 0.3s;
}
.img-zoom:hover {
  transform: scale(1.1);
}
.two-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.side-blog-b {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding-top: 14px;
  padding-bottom: 12px;
}
.blog--thumb img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.blog--thumb {
  width: 85px;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
  height: 63px;
  max-width: 150px;
}
.blog-cc {
  width: 70%;
}
.blog-cc a {
  line-height: 20px;
}
.blog-body {
  height: 397px;
  overflow-y: scroll;
  padding-right: 10px;
}
.slidebar .about--card--title {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 10px;
  position: relative;
}
.slidebar .about--card--title::after {
  position: absolute;
  content: '';
  background-color: #df252a;
  width: 42px;
  height: 2px;
  left: 0;
  bottom: 0;
}
.version-ct p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #1a1a19;
}
.version-ct h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.title-three {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.version-ct ul {
  font-size: 14px;
  line-height: 22px;
  list-style-type: disc;
  margin-top: 0px;
  padding-left: 14px;
}
.version-ct ul li {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 18px;
}
.version-ct ol {
  font-size: 14px;
  line-height: 22px;
  list-style-type: decimal;
  margin-top: 0px;
  padding-left: 14px;
}
.version-ct ol li {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 18px;
}
.version-ct tr, .version-ct td {
  font-size: 14px;
  font-weight: 400;
}
.list-quick-link ul {
  position: relative;
}
.list-quick-link ul li a {
  font-size: 14px;
  font-weight: 400;
}
.bx-ul > li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #dfdcdc;
  left: -31px;
}
.bx-ul > li:first-child::before {
  background: none;
}
.sticky {
  position: sticky;
  top: 92px;
}
.Settle-box h4, .Settle-box p {
  line-height: 21px;
}
.country-flag {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.country-box {
  background: rgba(255, 255, 255, 0.80);
  border-radius: 10px;
}
.country-box h5 {
  text-transform: uppercase;
  font-weight: 600;
}
.country-box p {
  font-size: 14px;
  font-weight: 400;
}
.bb-exam-info-box p {
  font-size: 14px;
  line-height: 21px;
}
.bb-tabs ul {
  position: relative;
}
.bb-tabs ul::before {
  position: absolute;
  background: rgba(43, 42, 41, .1);
  content: "";
  width: 100%;
  height: 1px;
  bottom: -10px;
}
.bb-tabs .tabs--item + .tabs--item {
  margin-left: 38px !important;
}
.bb-tabs .mock-box-title h3 {
  width: 85%;
}
.bb-tabs .mock-box-title p {
  width: 14%;
}
.bb-tabs .tabs--link {
  font-size: 18px;
}
.scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-left {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 999;
  background: #fff;
  background-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  border: 1px solid #aaa3a3;
  border: 1px solid #aaa3a3;
  768
}
.scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-right {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 999;
  background: #fff;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  right: 0px;
}
.scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-right {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 999;
  background: #fff;
  background-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  right: 20px;
  border: 1px solid #aaa3a3;
}
.scrtabs-tab-scroll-arrow span {
  left: 10px;
  position: relative;
}
.scrtabs-tabs-fixed-container {
  margin-left: 40px;
}
.scrtabs-tabs-fixed-container .nav-tabs .nav-link {
  border: 0px !important;
}
.event .explore .tabs::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(43, 42, 41, .1);
  bottom: -11px;
}
.exam-top-content .tab-pane .version-ct {
  box-shadow: none !important;
  border: 0px !important;
  margin-top: 12px;
}
.bg-white.shadow-lg.border.rounded-3.mb-5.p-4.version-ct h3 {
  font-size: 22px;
  font-weight: 600;
}
.bg-white.shadow-lg.border.rounded-3.mb-5.p-4.version-ct h4 {
  font-size: 20px;
  font-weight: 600;
}
/** IELTS PAGE **/
/* Add your custom CSS here */ :root {
  --check-size: 80px;
  --check-border-width: 3px;
  --checkmark-width: calc(var(--check-size) / 2);
  --checkmark-height: calc(var(--checkmark-width) / 2);
  --checkmark-left: calc(var(--checkmark-width) / 2);
  --checkmark-top: 50%;
  --checkmark-color: #1AA341;
}
.checkmark-wrapper {
  width: var(--check-size);
  height: var(--check-size);
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}
.checkmark-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border: var(--check-border-width) solid #f8f8f8;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  z-index: 0;
}
.checkmark-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border: var(--check-border-width) solid transparent;
  border-left-color: var(--checkmark-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  z-index: 1;
  animation: circle linear forwards .75s;
}
.checkmark {
  height: var(--checkmark-height);
  width: var(--checkmark-width);
  position: absolute;
  opacity: 0;
  left: var(--checkmark-left);
  top: var(--checkmark-top);
  display: block;
  border-left: var(--check-border-width) solid var(--checkmark-color);
  border-bottom: var(--check-border-width) solid var(--checkmark-color);
  transform-origin: left top;
  transform: rotate(-45deg);
  animation: checkmark linear both 1s;
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  80% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  90% {
    height: var(--checkmark-height);
    width: 0;
    opacity: 1;
  }
  100% {
    height: var(--checkmark-height);
    width: var(--checkmark-width);
    opacity: 1;
  }
}
@keyframes circle {
  0% {
    border-color: transparent;
    border-left-color: var(--checkmark-color);
  }
  90% {
    transform: rotate(-360deg);
    border-color: transparent;
    border-left-color: var(--checkmark-color);
  }
  100% {
    transform: rotate(-360deg);
    border-color: var(--checkmark-color);
  }
}



@media (max-width: 1250px) {
  .exam-logo {
    width: 111px;
  }
  .amount-text {
    font-size: 23px;
  }
}
@media (max-width: 768px) {
  .white-badge-header {
    padding: 28px 22px 28px 23px;
  }
  .exam-logo {
    width: 77px;
  }
}
@media (max-width: 576px) {
  .white-badge-header {
    background: #fff;
    padding: 17px 18px;
    margin: 0 8px;
    margin-bottom: 0px;
    border-radius: 4px;
  }
  .header--box {
    padding: 35px 0;
  }
  .main-title {
    font-size: 28px;
  }
  .sub-title {
    font-size: 24px;
  }
  .exam-logo {
    width: 98px;
  }
  .logo-grid {
    margin-top: 1rem;
  }
  .amount-text {
    font-size: 22px;
  }
}